.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}
.margin-auto{
	margin: auto;
}
.blue{
	color: rgb(63,81,181) !important;
}
.m-p-0{
	margin: 0px;
	padding: 0px;
}